@charset "UTF-8";

/* Typical device brackpoints *****

piquanas telas até 600px
celular até 768px
tablet até  992px
desktop até 1200px
grandes telas acima de 1200px

*/
@media print {

}
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../magens/back-tablet.jpg);

    }
    #phone {display: none;}
    #tablet {display: block;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: none;}
    
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../magens/back-pc.jpg);
        
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: block;}
    #tv {display: none;}
}
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../magens/back-tv.jpg);
    }
    #phone {display: none;}
    #tablet {display: none;}
    #print {display: none;}
    #pc {display: none;}
    #tv {display: block;}
    
}